**네이버 웍스 사용시
SMTP_HOST=smtp.worksmobile.com
SMTP_PORT=587
SMTP_USER=your_name@company.com
SMTP_PASSWORD=네이버웍스_외부앱비밀번호
EMAIL_TO=receiver@company.com


**Gmail 사용시
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=team.account@gmail.com
SMTP_PASSWORD=구글_앱비밀번호
EMAIL_TO=receiver@company.com
